<ul class="committee">
{% for person in site.data.committee %}
  <li class="committee-item">
    {% include avatar.html person=person %}
    <div class="committee-body">
      <span class="committee-name">{% if person.url and person.url != "" %}<a href="{{ person.url }}" target="_blank" rel="noopener">{{ person.name }}</a>{% else %}{{ person.name }}{% endif %}</span>
      <span class="committee-affiliation">{% if person.role and person.role != "" %}{{ person.role }}, {% endif %}{{ person.affiliation }}</span>
    </div>
  </li>
{% endfor %}
</ul>
